body{
    width: 95vw;
    height: 95vh;
    font-display: grid;
    place-items: center;
    background-image: url(../img/fondoMain.jpg);
    background-size: cover;
    /* background-color: aquamarine; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  border: solid white;
  width: 45rem;
  height: 35rem;
  border-radius: 2rem;
}

.info{
  border: solid white;
  padding: 10px;
  text-align: center;
  width: 15rem;
  height: 12rem;
}

/* background climas */

body.climaFrio {
    /* Cambia esto al color de fondo que desees para el clima frío */
    background-image: url(../img/frio.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }

  body.climatemplado{
    background-image: url(../img/templado.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  body.climacalido{
    background-image: url(../img/calido.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }

  body.climatehot {
    /* Cambia esto al color de fondo que desees para el clima caluroso */
    background-image: url(../img/calor.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  body.climanublado{
    background-image: url(../img/nublado.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }